# Ceci est un titre

Ajouter texte ici

In [1]:
!pip install seasonal
!pip install pandas
!pip install numpy
!pip install odfpy

Requirement already satisfied: seasonal in c:\users\uarnaud\anaconda3\lib\site-packages (0.3.1)
Requirement already satisfied: numpy in c:\users\uarnaud\anaconda3\lib\site-packages (from seasonal) (1.18.5)
Requirement already satisfied: scipy in c:\users\uarnaud\anaconda3\lib\site-packages (from seasonal) (1.5.0)
Requirement already satisfied: pandas in c:\users\uarnaud\anaconda3\lib\site-packages (1.0.5)
Requirement already satisfied: numpy>=1.13.3 in c:\users\uarnaud\anaconda3\lib\site-packages (from pandas) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in c:\users\uarnaud\anaconda3\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\uarnaud\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\uarnaud\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.15.0)
Requirement already satisfied: numpy in c:\users\uarnaud\anaconda3\lib\site-packages (1.18.5)
Requirement already satisfied: odfpy in c:\users\uarnaud\anaconda3\lib\site-packages (1.4.1)
Requirement already satisfied: defusedxml in c:\users\uarnaud\anaconda3\lib\site-packages (from odfpy) (0.6.0)

In [2]:
from statsmodels.tsa.tsatools import detrend
from statsmodels.tsa.seasonal import seasonal_decompose
from seasonal import fit_seasons

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [3]:
dataframe = pd.read_excel("hadopi-2020-musique-data.ods", engine="odf")
dataframe.head(1)

,SEXE,QSEXE,RAGE2,RAGE3,XRAGE,AGGLOIFOP2,REG,REG2,REG3,REG13,...,Q60_3,Q60_4,Q60_5,Q61_r1_c1,Q61_r2_c1,Q61_r3_c1,Q61_r4_c1,DISPQUAL,sys_block_set_1,poids
0,Une femme,FEMME,De65aPlus,PlusDe49ans,Femme35ansEtPlus,MoinsDe100000Habitants,UDA7,BUDA4,PROVINCE,LanguedicRoussillonMidiP,...,#NUL!,#NUL!,#NUL!,#NUL!,Entre 1 et 49,#NUL!,#NUL!,Long,"2,3,1",1.006791

In [8]:
dataframe = dataframe.replace('LanguedicRoussillon', 'LanguedocRoussillon', regex=True)
dataframe = dataframe.replace('#NUL!', 'None', regex=True)
dataframe.head(1)

,SEXE,QSEXE,RAGE2,RAGE3,XRAGE,AGGLOIFOP2,REG,REG2,REG3,REG13,...,Q60_3,Q60_4,Q60_5,Q61_r1_c1,Q61_r2_c1,Q61_r3_c1,Q61_r4_c1,DISPQUAL,sys_block_set_1,poids
0,Une femme,FEMME,De65aPlus,PlusDe49ans,Femme35ansEtPlus,MoinsDe100000Habitants,UDA7,BUDA4,PROVINCE,LanguedocRoussillonMidiP,...,None,None,None,None,Entre 1 et 49,None,None,Long,"2,3,1",1.006791

In [5]:
dataframe = dataframe.dropna(axis = 'columns', how = 'all')
dataframe.head(1)

,SEXE,QSEXE,RAGE2,RAGE3,XRAGE,AGGLOIFOP2,REG,REG2,REG3,REG13,...,Q60_3,Q60_4,Q60_5,Q61_r1_c1,Q61_r2_c1,Q61_r3_c1,Q61_r4_c1,DISPQUAL,sys_block_set_1,poids
0,Une femme,FEMME,De65aPlus,PlusDe49ans,Femme35ansEtPlus,MoinsDe100000Habitants,UDA7,BUDA4,PROVINCE,LanguedocRoussillonMidiP,...,None,None,None,None,Entre 1 et 49,None,None,Long,"2,3,1",1.006791

In [6]:
dataframe.groupby('SEXE').size().to_dict()

{'Un homme': 1073, 'Une femme': 1127}

In [7]:
dataframe.groupby('QSEXE').size().to_dict()

{'FEMME': 1127, 'HOMME': 1073}