# Exercice 2 - Les villes

Importer la base des villes villes.xls

Les noms de variables et les observations contiennent des espaces inutiles (exemple : ‘MAJ’) : commencer par nettoyer l’ensemble des chaines de caractères (à la fois dans les noms de colonnes et dans les observations)

Trouver le nombre de codes INSEE différents (attention aux doublons)

Comment calculer rapidement la moyenne, le nombre et le maximum pour chaque variable numérique ? (une ligne de code)

Compter le nombre de villes dans chaque Region et en faire un dictionnaire où la clé est la région et la valeur le nombre de villes

Représenter les communes en utilisant

#matplotlib (PAS NECESSAIRE POUR L'INSTANT mais scatter à utiliser en utilisant la longitude et la latitude)

#une librairie de cartographie (ex : folium) (BONUS POUR l'instant, on abordera le sujet) (https://france-geojson.gregoiredavid.fr/)

In [19]:
dataframe = pd.read_csv("villes.txt", "\t")
dataframe

,Nom Ville,MAJ,Code Postal,Code INSEE,Code Région,Latitude,Longitude,Eloignement
0,L'Abergement-Clémenciat,L ABERGEMENT CLEMENCIAT,1400,1001,82,46.150000,4.916667,1.46
1,L'Abergement-de-Varey,L ABERGEMENT DE VAREY,1640,1002,82,46.000000,5.416667,1
2,Amareins,AMAREINS,1090,1003,82,46.083333,4.8,1.85
3,Ambérieu-en-Bugey,AMBERIEU EN BUGEY,1500,1004,82,45.950000,5.35,0.8
4,Ambérieux-en-Dombes,AMBERIEUX EN DOMBES,1330,1005,82,46.000000,4.9,1.72
...,...,...,...,...,...,...,...,...
35244,Saint-Michel,SAINT MICHEL,9100,9271,0,43.135000,1.5025,NaN
35245,Lorp-Sentaraille,LORP SENTARAILLE,9190,9289,0,43.008888,1.119444,NaN
35246,Soueix-Rogalle,SOUEIX ROGALLE,9140,9299,0,42.893333,1.211388,NaN
35247,Soulan,SOULAN,9320,9301,0,42.913333,1.233055,NaN
35248,Villeneuve,VILLENEUVE,9800,9335,0,42.938333,0.981666,NaN

In [23]:
dataframe[['Code INSEE']]

        Code Postal    Code INSEE    Code Région     Latitude
count   35249.000000  35249.000000  35249.000000  35249.000000
mean    46291.014554  46186.992822     48.532497     46.998450
std     25418.598824  25411.240496     27.264257      2.206877
min      1000.000000   1001.000000      0.000000     41.391667
25%     24640.000000  24550.000000     24.000000     45.216667
50%     49150.000000  49074.000000     43.000000     47.450000
75%     66720.000000  66203.000000     72.000000     48.850000
max     95880.000000  95690.000000     94.000000     51.083333